<div id="navbar">
    <div id="upperNavbar">
        <a href="{% url 'home' %}" class="linkGeneral" id="homeLink">Home</a>
        <div id="navbarUserLinks">
            {% if request.user.is_authenticated %}
            <a href="{% url 'logout' %}" class="linkGeneral">Logout</a>
            {% else %}
            <a href="{% url 'register' %}" class="linkGeneral">Register</a>
            <a href="{% url 'login' %}" class="linkGeneral">Login</a>
            {% endif %}
        </div>
    </div>
    {% if request.user.is_authenticated %}
          <p>
          Hello
          <a href="{% url 'user-profile' username=request.user.username %}"
              >{{ request.user }}</a>
          </p>
    {% endif %}
    {% include 'components/reusable/searchbar.html' %}
</div>