{% load static %}

<div id="searchbarWrapper">
  <div id="searchInputAreaWrapper">
    <div id="searchInputAndButton">
      <input
        type="text"
        id="searchInput"
        placeholder="Search Pokémon"
        class="inputGeneral"
      />
      <button id="searchButton" class="buttonGeneral">
        <i class="fas fa-search"></i>
      </button>
    </div>
    <div id="searchResultsContainer" class="hidden">
      <ul id="searchResultsList"></ul>
    </div>
  </div>
</div> 

<script src="{% static 'js/search.js' %}"></script>
