<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles/general.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/navbar.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/searchbar.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/home.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/types.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/pokemonPage.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/modal.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/login.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/register.css' %}" />
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <title>PokedexApp</title>
  </head>
  <body>
    {% block content %} 
    {% endblock %}
  </body>
</html>
