<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
    <title>PokedexApp</title>
  </head>
  <body>
    <div>You should be seeing this in both the home and the login page.</div>
    <a href="{% url 'home' %}">Home</a>
    {% if request.user.is_authenticated %}
    <p>Hello {{request.user}}</p>
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'register' %}">Register</a>
    <a href="{% url 'login' %}">Login</a>
    {% endif %}
    <a href="http://127.0.0.1:8000/admin/">Admin</a>
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% block content %} {% endblock %}
  </body>
</html>
