{% extends 'main.html' %} {% load static %} {% block content %}

<div>
  <div class="pokemon-container">
    {% for pokemon in pokemons %}
    <div>
      <div class="pokemon">
        <img
          src="{{ pokemon.sprite }}"
          class="pokemon-image"
          data-pokemon-name="{{ pokemon.name }}"
        />
      </div>
      <!-- Modal container -->
      <div id="pokemon-modal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close">&times;</span>

          <div id="pokemon-info"></div>
        </div>
      </div>
      <!-- OUTSIDE THE MODAL -->
      <p>ID: {{ pokemon.pokedex_number }}</p>
      <h3>{{ pokemon.name }}</h3>
      <p>{{ pokemon.types }}</p>

      <hr />
      <!-- ΕΔΩ ΘΕΛΕΙ ΝΑ split(':') -->
      <!-- {% for i in pokemon.types %}
      <div>{{ i }}</div>
      {% endfor %} -->
    </div>
    {% endfor %}
  </div>
</div>
<div class="pagination">
  <span class="step-links">
    {% if pokemons.has_previous %}
    <a href="?page=1">&laquo; first</a>
    <a href="?page={{ pokemons.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current">
      Page {{ pokemons.number }} of {{ pokemons.paginator.num_pages }}.
    </span>

    {% if pokemons.has_next %}
    <a href="?page={{ pokemons.next_page_number }}">next</a>
    <a href="?page={{ pokemons.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
  </span>
</div>
<script src="{% static 'js/modal.js' %}"></script>
<script src="{% static 'js/loadMore.js' %}"></script>

{% endblock %}
