{% extends 'main.html' %} {% load static %} {% block content %}

<div>
  <div class="pokemon-container">
    {% for pokemon in pokemons %}
    <div>
      <div class="pokemon">
        <div class="pokemonImageWrapper">
          <a href="{% url 'pokemonPage' pokemon_name=pokemon.name %}">
            <img
              src="{{ pokemon.sprite }}"
              class="pokemon-image"
              data-pokemon-name="{{ pokemon.name }}"
            />
          </a>
        </div>
        <p class="pokeId">#{{ pokemon.pokemon_id }}</p>
        <h3 class="pokeName">{{ pokemon.name }}</h3>
        <div class="pokeTypeWrapper">
          {% for type in pokemon.pokemon_type %}
          <div class="pokeType {{type}}Type">
            <p>{{ type }}</p>
          </div>
          {% endfor %}
        </div>
        <hr />
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<div class="pagination">
  <span class="step-links">
    {% if pokemons.has_previous %}
    <a href="?page=1">&laquo; 1</a>
    <!-- only show left dots when you are on page 4+ -->
    {% if pokemons.number > 3 %}
    <span> ... </span>
    <!-- don't show the first page twice on page 2 -->
    {% endif %} {% if pokemons.number > 2 %}
    <a href="?page={{ pokemons.previous_page_number }}">
      {{ pokemons.previous_page_number }}</a
    >
    {% endif %} {% endif %}

    <span class="current"> [{{ pokemons.number }}] </span>

    {% if pokemons.has_next %}
    <a href="?page={{ pokemons.next_page_number }}">
      {{ pokemons.next_page_number }}
    </a>
    <!-- only show right dots when you are on a page lower than the second last -->
    {% if pokemons.number < pokemons.paginator.num_pages|add:'-2' %}
    <span> ... </span>
    {% endif %}
    <!-- don't show the last page twice on page -1 -->
    {% if pokemons.number < pokemons.paginator.num_pages|add:'-1' %}
    <a href="?page={{ pokemons.paginator.num_pages }}"
      >{{ pokemons.paginator.num_pages }} &raquo;</a
    >
    {% endif %} {% endif %}
  </span>
</div>
<script src="{% static 'js/modal.js' %}"></script>

{% endblock %}
