{% extends 'main.html' %} {% block content %}
<!-- <h1>Bulbasaur's Stats</h1> -->
<div>
  <div class="pokemon-container">
    {% for pokemonDict in pokemonList %}
    <div>
      <img
        src="{{ pokemonDict.sprite }}"
        class="pokemon-image"
        onclick="openModal()"
      />
      <div>Evolutions</div>
      <div>
        {% for evo in pokemonDict.evolutions %}
        <p>{{ evo }}</p>
        {% endfor %}
      </div>
      <!-- Modal container -->
      <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" onclick="closeModal()">&times;</span>

          <div>
            {% for evo in pokemonDict.evolutions %}
            <p>{{ evo }}</p>
            {% endfor %}
          </div>
          <!-- Add more details here -->
        </div>
      </div>

      <h3>{{ pokemonDict.name }}</h3>

      <hr />
      {% for i in pokemonDict.types %}
      <div>{{ i }}</div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
