{% extends 'main.html' %} {% load static %} {% block content %}
<div>
<div class="pokemon">
<h1>{{ pokemon.name }}</h1>

<p>Height: {{ pokemon.height }}</p>
<p>Weight: {{ pokemon.weight }}</p>
<img src="{{ pokemon.sprite }}" alt="Pokemon Sprite" class="pokemon-image" data-pokemon-name="{{ pokemon.name }}"/>
</div>
{% include 'components/modal_window.html' %}
</div>
{% if request.user.is_authenticated %}
  {% if is_favorited %}
    <button id="favoriteButton" data-pokemon-name="{{ pokemon.name }}" data-action="remove">Remove from Favorites</button>
  {% else %}
    <button id="favoriteButton" data-pokemon-name="{{ pokemon.name }}" data-action="add">Add to Favorites</button>
  {% endif %}
{% endif %}
{% if request.user.is_authenticated %}
<div class="comment-form"></div>
<form class="form" method="POST" action="">
  {% csrf_token %} {{ form.as_p }}
  <input type="submit" value="Submit" />
</form>
</div>
{% endif %}
{% for comment in comments %}
<p>
  @{{comment.user}}
  <span>{{comment.created|timesince}} ago</span>
  <div>{{comment.body}}</div>
  
  {% if request.user == comment.user %}
  <div>this is your comment</div>
  {% endif %}
</p>
{% endfor %}
<script src="{% static 'js/modal.js' %}"></script>
<script src="{% static 'js/favorites.js' %}"></script>

{% endblock %}
