{% extends 'main.html' %} {% load static %} {% block content %}
<div>
  <div>
  <h1>{{ pokemon.name }}</h1>
  <img src="{{ pokemon.sprite }}" alt="Pokemon Sprite" class="pokemon-image"/>
  </div> 
  {% if pokemon.tier_1_evolution %}
  <button id="evolutionButton" data-pokemon-name="{{ pokemon.name }}">Evolutions</button>
  {% include 'components/modal_window.html' %}
  {% else %}
  <div>This Pokémon does not evolve.</div>
  {% endif %}
  </div>
  <div>Height: {{ pokemon.height }}</div>
  <div>Weight: {{ pokemon.weight }}</div>
  <div>HP: {{ pokemon.hp }}</div>
  <div>Attack: {{ pokemon.attack }}</div>
  <div>Defense: {{ pokemon.defense }}</div>
  <div>Special Attack: {{ pokemon.special_attack }}</div>
  <div>Special Defense: {{ pokemon.special_defense }}</div>
  <div>Speed: {{ pokemon.speed }}</div>
  {% if request.user.is_authenticated %}
  {% if is_favorited %}
    <button id="favoriteButton" data-pokemon-name="{{ pokemon.name }}" data-action="remove">Remove from Favorites</button>
  {% else %}
    <button id="favoriteButton" data-pokemon-name="{{ pokemon.name }}" data-action="add">Add to Favorites</button>
  {% endif %}
{% endif %}
{% if request.user.is_authenticated %}
<div class="comment-form"></div>
<form class="form" method="POST" action="">
  {% csrf_token %} {{ form.as_p }}
  <input type="submit" value="Submit" />
</form>
</div>
{% endif %}
{% if comments %}
{% for comment in comments %}
<div id="comment-{{comment.id}}">
  @{{comment.user}}
  <span>{{comment.created|timesince}} ago</span>
  <div>{{comment.body}}</div>
  
  {% if request.user == comment.user %}
  <button class="delete_comment" data-comment-id="{{ comment.id }}">Delete Comment</button>
  {% endif %}
</div>
{% endfor %}
{% else %}
<div>This pokemon has no comments.</div>
{% endif %}
<script src="{% static 'js/modal.js' %}"></script>
<script src="{% static 'js/favorites.js' %}"></script>
<script src="{% static 'js/delete_comment.js' %}"></script>

{% endblock %}
