{% extends 'main.html' %} {% load socialaccount %} {% block content %}

<h1>Register</h1>

<a href="{% provider_login_url 'google' %}?next=/&amp;process=register"
  >Sign Up with Google</a
>

<form class="form" method="POST" action="">
  {% csrf_token %}
  <!-- {% for field in form %}
  <div class="form__group form__group">
    <label for="room_name">{{field.label}}</label>
    {{field}}
  </div>
  {% endfor %} -->
  {{ form.as_p }}

  <button class="btn btn--main" type="submit">
    <!-- <title>lock</title> -->
    Register
  </button>
</form>

{% endblock content %}
