{% extends 'main.html' %} {% load static %} {% block content %}

{% include 'components/reusable/navbar.html' %}    

<div>This is {{user.username}}'s profile.</div>

{% if user.favorites.all %}
<div>Favorite pokemons:</div>
{% for favorite in user.favorites.all %}
<div>{{favorite}}</div>
<div class="pokemon">
  <img
    src="{{ favorite.sprite }}"
    class="pokemon-image"
    data-pokemon-name="{{ favorite.name }}"
  />
</div>
{% include 'components/modal_window.html' %} {% endfor %} {% else %}
<div>This user has no favorite pokemons.</div>
{% endif %}

<script src="{% static 'js/modal.js' %}"></script>
{% endblock %}
