body {
  margin: 0;
  padding: 0;
}

.inputGeneral {
  font-family: 'Trebuchet MS', sans-serif;
}

.inputGeneral:focus {
  outline: none;
}

.buttonGeneral {
  cursor: pointer;
  font-family: 'Trebuchet MS', sans-serif;
}

.buttonGeneral:focus {
  outline: none;
}

.linkGeneral {
  font-family: 'Trebuchet MS', sans-serif;
  text-decoration: none;
}

#list-item {
  cursor: pointer; /* Set the cursor to a hand on hover */
}

.pokemon-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Two equ  al-width columns */
  grid-gap: 10px; /* Adjust the gap between the Pokemon */
}

.pokemon-image {
  width: 12em; /* Set your desired width */
  height: 8em; /* Set your desired height */
}
.pokemon-image:hover {
  cursor: pointer; /* Change the cursor to a pointer hand */
}
.right-arrow {
  vertical-align: top;
  line-height: 100em;
  width: 3em;
  height: 2em;
}

/* CSS for the modal container */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

/* CSS for the modal content */
.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  max-height: 60vh; /* Adjust as needed */
  overflow-y: auto;
}

/* Close button */
.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}