/*
  Color Palette:

  dark goldenrod: rgb(189,148,39)
  light-gray: rgb(175,179,182)
  medium-gray: rgb(89,82,71)
  dark-gray: rgb(45,48,49)
  black: rgb(13,4,5)
*/

#pokemon-outer-container {
  display: flex;
  flex-direction: column;
  padding: 0 10%;
  background-image: repeating-linear-gradient(
  135deg,
  #595247,
  #595247 10px,
  #2d3031 10px,
  #2d3031 40px
);
}

.pokemon-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: rgb(45,48,49, 0.9);
    padding: 2rem;
  }

  .pokemon {
    background-color: rgb(189,148,39);
    border-radius: 3px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem 1rem;
  }

  .pokeId {
    font-family: 'Trebuchet MS', sans-serif;
  }

  .pokemonImageWrapper {
    background-color: #EDE7D9;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pokemon-image {
    width: 7rem;
    height: 7rem;
  }
  .pokemon-image:hover {
    cursor: pointer; /* Change the cursor to a pointer hand */
  }
  .right-arrow {
    vertical-align: top;
    line-height: 100em;
    width: 3em;
    height: 2em;
  }
  
  /* CSS for the modal container */
  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  /* CSS for the modal content */
  .modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    max-height: 60vh; /* Adjust as needed */
    overflow-y: auto;
  }
  
  /* Close button */
  .close {
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }

.pagination {
  background-color: rgb(45,48,49, 0.9);
  width: 100%;
  padding: 2rem;
  display: flex;
  gap: 2rem;
}

.paginationLink {
  background-color: rgb(189,148,39);
  padding: 0.3rem 0.5rem;
  border-radius: 3px;
  color: rgb(13,4,5);
}

.paginationLink p {
  margin: 0;
}

.paginationDots {
  display: flex;
  align-items: flex-end;
}

.paginationDots p {
  margin: 0;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 600;
  color: rgb(175,179,182);
}

.currentPaginationLink {
  background-color: rgb(175,179,182);
  padding: 0.3rem 0.5rem;
  border-radius: 3px;
}

.currentPaginationLink p {
  margin: 0;
  font-family: 'Trebuchet MS', sans-serif;
  color: rgb(13,4,5);
}

@media all and (max-width: 600px) {
  #pokemon-outer-container {
    padding: 0;
  }
}