#loginPage {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

#loginFormWrapper {
    align-self: center;
    background-color: rgb(13,4,5, 0.3);
    border-radius: 5px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 30%;

    h1 {
        font-family: "Trebuchet MS", sans-serif;
        color: rgb(175,179,182);
        font-size: 1.6rem;
    }
}

.loginForm {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.loginFormLabelSAndInput {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    width: 100%;

    label {
        font-family: "Trebuchet MS", sans-serif;
        color: rgb(175,179,182);
    }

    input {
        background: transparent;
        border: 1px solid rgb(175,179,182);
        font-family: "Trebuchet MS", sans-serif;
        color: rgb(175,179,182);
        font-size: 1rem;
        padding: 0.6rem;
        border-radius: 5px;
        margin-bottom: 0.7rem;
        width: 400px;
    }

    input:focus {
        outline: none;
        border: 1px solid rgb(189,148,39);
    }
}

.loginButton {
    align-self: flex-end;
    margin-top: 1rem;
    background-color: rgb(189,148,39);
    color: rgb(13,4,5);
    padding: 0.4rem 0.6rem;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 1rem;
    border-radius: 5px;
}

@media all and (max-width: 400px) {
    #loginFormWrapper {
        width: 100%;
    }

    .loginFormLabelSAndInput {

        input {
            width: 96%;
        }
    }
}