/*
  Color Palette:

  black: #483C32 or rgb(72,60,50)
  gold: #D5A021 or rgb(213,160,33)
  white: #EDE7D9 or rgb(237,231,217)
*/

#navbar {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#upperNavbar {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

#homeLink {
    font-size: 1.2rem;
    color: rgb(213,160,33);
}

#navbarUserLinks {
    display: flex;
    gap: 2rem;
}

#navbarUserLinks a {
    font-size: 1.2rem;
    color: rgb(213,160,33);
}