/*
  Color Palette:

  dark goldenrod: rgb(189,148,39)
  light-gray: rgb(175,179,182)
  medium-gray: rgb(89,82,71)
  dark-gray: rgb(45,48,49)
  black: rgb(13,4,5)
*/

#navbar {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#upperNavbar {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

#homeLink {
    font-size: 1.2rem;
    color: rgb(189,148,39);
}

#navbarUserLinks {
    display: flex;
    gap: 2rem;
}

#navbarUserLinks a {
    font-size: 1.2rem;
    color: rgb(189,148,39);
}