#searchbarWrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0 2rem 2rem 2rem;
    align-items: center;
    margin-bottom: 1rem;
}

#hintInSearchbar {
    font-family: 'Trebuchet MS', sans-serif;
}

#searchInputAreaWrapper {
    position: relative;
}

#searchInputAndButton {
    display: flex;
}

#searchInputAndButton input {
    padding: 0.5rem 0.5rem 0.5rem 0.7rem;
    font-size: 1.2rem;
    border-radius: 8px 0 0 8px;
    border: 1px solid #999999;
    border-right: none;
    background-color: transparent;
}

#searchInputAndButton button {
    background-color: transparent;
    border-radius: 0 8px 8px 0;
    border: 1px solid #999999;
    border-left: none;
    padding: 0.7rem;
    font-size: 1.2rem;
}

#searchInputAndButton input:focus {
    outline: none;
}

#searchResultsContainer {
    background-color: white;
    border-radius: 8px;
    position: absolute;
    border: 1px solid #ccc; /* Add a border or other styles as desired */
    max-height: 8.8em; /* Set a max height to make it scrollable if needed */
    width: 100%;
    overflow-y: auto; /* Enable scrolling if content exceeds the max height */
    display: none; /* Initially hide the container */
    padding-top: 0.8rem
  }

#searchResultsList {
    list-style: none;
    padding: 0;
    margin: 0;
  }

#searchResultsList li {
    cursor: pointer;
    font-family: 'Trebuchet MS', sans-serif;
    margin: 0 0.8rem 0.8rem 0.8rem;
    font-size: 1.2rem;
}