body {
  background-color: darkgoldenrod;
}

/* Style the overlay container */
#searchResultsContainer {
  position: absolute; /* or "absolute" depending on your layout */
  top: 3em; /* Adjust the positioning as needed */
  left: 0.5em;
  background-color: rgba(
    173,
    216,
    230,
    0.8
  ); /* Background color for the overlay */
  border: 1px solid #ccc; /* Add a border or other styles as desired */
  z-index: 1000; /* Ensure it appears above other content */
  max-height: 8.8em; /* Set a max height to make it scrollable if needed */
  max-width: 18em;
  min-width: 13em;
  overflow-y: auto; /* Enable scrolling if content exceeds the max height */
  display: none; /* Initially hide the container */
}
#list-item {
  cursor: pointer; /* Set the cursor to a hand on hover */
}
/* Style the list within the container */
#searchResultsList {
  font-size: 2em;
  list-style: none;
  padding: 0;
  margin: 0;
}

.pokemon-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Two equ  al-width columns */
  grid-gap: 10px; /* Adjust the gap between the Pokemon */
}

.pokemon-image {
  width: 12em; /* Set your desired width */
  height: 8em; /* Set your desired height */
}
.pokemon-image:hover {
  cursor: pointer; /* Change the cursor to a pointer hand */
}
.right-arrow {
  vertical-align: top;
  line-height: 100em;
  width: 3em;
  height: 2em;
}

/* CSS for the modal container */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

/* CSS for the modal content */
.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  max-height: 60vh; /* Adjust as needed */
  overflow-y: auto;
}

/* Close button */
.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
